[submodule "domains"]
	path = domains
	url = git@github.com:hhhjjjcc112/domains.git
	branch = main
[submodule "domain-lib"]
	path = domain-lib
	url = git@github.com:hhhjjjcc112/domain-lib.git
	branch = main
