[submodule "domains"]
	path = domains
	url = git@github.com:hhhjjjcc/domains.git
	branch = main
[submodule "domain-lib"]
	path = domain-lib
	url = git@github.com:hhhjjjcc/domain-lib.git
	branch = main
